h2 {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: #dcdcdc;
    font-size: 70px;
}
h1  {
    font-family: 'Dosis', sans-serif;
text-align: center;
color: #dcdcdc;
font-size: 80px;
}

p1 {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    line-height: 0.4;
}

p3 {
    text-align: right;
}

body {
    background-color: #314159;
  }
